workflows/n8n-chatbot-qa.json
{
  "name": "n8n-chatbot-qa",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -80
      ],
      "id": "58f477df-66ef-450a-8dea-15ecb03f1526",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1GPoz0S11xklZrxClybzPfy0PkEXqSIgpoqTbcCojafc/edit?usp=sharing",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GPoz0S11xklZrxClybzPfy0PkEXqSIgpoqTbcCojafc/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -80
      ],
      "id": "4dc0f537-c253-4bdf-9b43-8baf94567330",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wFewW4wPzjndvnWV",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format dữ liệu cho Vector Store\nconst items = [];\n\nfor (const item of $input.all()) {\n  // Lấy dữ liệu từ Google Sheets\n  const question = item.json['Câu hỏi'] || item.json['cau_hoi'] || item.json['question'];\n  const answer = item.json['Câu trả lời'] || item.json['cau_tra_loi'] || item.json['answer'];\n  \n  // Kiểm tra có dữ liệu không\n  if (question && answer) {\n    items.push({\n      json: {\n        // pageContent: Nội dung chính để embedding\n        pageContent: `Câu hỏi: ${question}\\nCâu trả lời: ${answer}`,\n        \n        // metadata: Thông tin bổ sung (không embedding)\n        metadata: {\n          question: question,\n          answer: answer,\n          source: 'google_sheets'\n        }\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ],
      "id": "57b74478-0591-40eb-8a07-b7565a1de9cc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        272,
        -64
      ],
      "id": "898542fe-9761-4a76-8ffc-a3122b1ccd0b",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        144
      ],
      "id": "ddb190b3-9ed0-480d-a2dd-3abd93dbc4f4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "diUFMuGPtgguiX2p",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Xin chào! 👋 Tôi là trợ lý tư vấn sản phẩm. Bạn muốn hỏi về sản phẩm nào?",
        "options": {
          "inputPlaceholder": "\"Nhập câu hỏi của bạn...\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        272
      ],
      "id": "1551e08a-d4f1-4d2f-bf03-f2e2e7344490",
      "name": "When chat message received",
      "webhookId": "0e2a6e91-c5a9-49cf-b1cf-96cda94a1619"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Bạn là nhân viên tư vấn bán hàng chuyên nghiệp và thân thiện của cửa hàng.\n\nNHIỆM VỤ:\n- Trả lời câu hỏi khách hàng về sản phẩm, giá cả, tính năng, khuyến mãi\n- Sử dụng tool \"search_product_info\" để tìm thông tin chính xác từ database\n- Đưa ra tư vấn phù hợp với nhu cầu khách hàng\n\nQUY TẮC QUAN TRỌNG:\n1. Luôn sử dụng tool search trước khi trả lời\n2. Chỉ trả lời dựa trên thông tin có trong database\n3. Nếu không tìm thấy thông tin: \"Xin lỗi, tôi chưa có thông tin về sản phẩm này. Vui lòng liên hệ hotline 1900-xxxx để được tư vấn chi tiết.\"\n4. KHÔNG được bịa đặt thông tin\n5. Trả lời ngắn gọn, súc tích (2-3 câu)\n6. Luôn kết thúc bằng: \"Bạn còn thắc mắc gì khác không?\"\n\nPHONG CÁCH:\n- Thân thiện, nhiệt tình\n- Chuyên nghiệp\n- Trả lời bằng tiếng Việt tự nhiên\n- Không dùng quá nhiều emoji\n\nVÍ DỤ:\nUser: \"Giá Samsung A26 bao nhiêu?\"\nBot: \"Samsung A26 có giá 7 triệu đồng. Bạn còn thắc mắc gì khác không?\"",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        272
      ],
      "id": "e159b12c-2b46-40cc-8910-32a1a81f01c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        528
      ],
      "id": "c4441433-b7f3-4168-b75a-d24775a3d779",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "diUFMuGPtgguiX2p",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        576
      ],
      "id": "a56e8717-807c-45ed-93fe-c844e52958be",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "diUFMuGPtgguiX2p",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "123",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        240,
        400
      ],
      "id": "accb66e2-cef1-43f0-8d30-ea985ba7d8b0",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        144
      ],
      "id": "1708009a-d2a0-4bb5-9b4e-840af48a0e34",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "502ea8e4-c02c-4db4-831a-4de43315801f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e926efcceb4692c16f8c5dd9c72894a04b529e0b989ded67d1e08fdb92c31bc"
  },
  "id": "3DzxFB4ZFuqWR3qQ",
  "tags": []
}